<div class="text-center">
    <h4 class="text-login"> {{ 'LOGIN.titleLogintextCenter' | translate }}</h4>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="d-flex-center">
        <div class="example-container">
            <div hidden="true">
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error
                        *ngIf="!loginForm.get('email')?.errors?.required && (loginForm.get('email')?.errors?.pattern)">
                        {{ "MAP.matErrorMailAddress" | translate }}
                    </mat-error>
                    <mat-error
                        *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors?.required">
                        {{ 'LOGIN.matErrorMailRequired' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mt-top-2" hidden="true">
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password" autocomplete="on">
                    <mat-error *ngIf="!loginForm.get('password')?.errors?.required">
                        {{ 'LOGIN.matErrorPassword' | translate }}
                    </mat-error>
                    <mat-error
                        *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.required">
                        {{ 'LOGIN.matErrorPasswordRequired' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mt-top">
                <button hidden="true" [disabled]="!loginForm.valid" mat-raised-button color="primary" mat-button (click)="onSubmit()">{{'LOGIN.BtnLogin' | translate}}</button>
            </div>
            <div class="content" role="main">
                <div class="card-container">
                    <div class="container mt-5">
                        <div class="row mt-5">
                            <div class="col-md-4 mt-2 m-1 ">
                                <button type="button" class="login-with-google-btn" (click)="onGoogleLogin()" #loginRef>
                                    Sign in with Google
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
