.text-center{
    text-align: center;
}
.example-container{
    height: 50%;
    width: 60%;
    text-align: left;
}
.d-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mat-form-field{
    width: 100%;
}
.mt-top{
    margin-top: 30px;
}
.mt-top-2{
    margin-top: 10px;
}

h4 {
    margin-top: 15px;
}