<div>
  <div id="map" leaflet (leafletMapReady)="initializeMap($event)" [leafletOptions]="options"
    (leafletClick)="onMapClick($event)" [leafletMarkerCluster]="markerClusterData">

    <div class="leaflet-top leaflet-left">
      <div>
        <app-geocoding (onSearch)="refreshSearchList($event)"></app-geocoding>
        <app-result-list class="resultBox" [results]="results" (locationSelected)="getAddress($event)"></app-result-list>
      </div>
      <!-- [ngClass]="isVisibile === true? 'visible' : 'invisible'" -->
      <div style="display: none">
        <app-geocoding (onSearch)="refreshSearchList($event)"></app-geocoding>
        <app-result-list class="resultBox" [results]="results" (locationSelected)="getAddress($event)"></app-result-list>
      </div>
    </div>

    <div class="leaflet-top leaflet-right">
        
    </div>

    <div class="leaflet-bottom leaflet-left">
      
    </div>

    <div id="details-panel" class="leaflet-bottom leaflet-right">
      
      <app-map-point-form [mapPoint]="mapPoint"></app-map-point-form>
      <app-full-screen-btn></app-full-screen-btn>
    </div>

      


  </div>

</div>