nav {
    width: 100%;
    display: flex;
}

.navbar {
  padding: 0;
}

.container-fluid {
    margin: 0;
    background-color: green;

}

.navbar-logo {
    font-size: 3rem;
    color:limegreen;
    font-weight: bold;
}

.navbar-logo img {
  width: 30px;
  height: 30px;
  padding: 0;
  display: inline-block;
}

.form-control {
    font-size: 1.2rem;
    padding: 6px 12px;
    background-color: wheat;
}

.col {
    margin: 20px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.reverse-directions {
    color: gold;
    font-size: 1.6rem
}

.reverse-directions:hover {
  color: orange;
}

.col-auto {
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-button {
  width: 30px;
  height: 30px;
}

.search-button:active {
  width: 28px;
  height: 28px;
}
