<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="navbar-logo"><img src="../assets/logo.jpg" class="align-text-top" alt="sketch of the town hall">
            MapaRowerowaZG</div>
        <form class="example-form">
            <div class="row g-3">
                <div class="col">
                    <ul class="result-group result-list"></ul>
                    <input type="text" class="form-control search" placeholder="Punkt Startowy" autocomplete="off">
                </div>
                
                <div class="col-auto fa-3x">
                    <a class="reverse-directions"><em class="fa-solid fa-arrow-right-arrow-left "></em></a>
                </div>
                <div class="col">
                    <input type="text" class="form-control search" placeholder="Punkt Docelowy" autocomplete="off">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-warning search-button"><em class="fa-solid fa-magnifying-glass-location"></em></button>
                </div>
            </div>

        </form>
    </div>
</nav>
