/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', 'Roboto', sans-serif;
    background-color: green;
    position: relative;

}

[id] {
    scroll-margin-top: 84px;
}

@media (min-width: 992px) {
    [id] {
        scroll-margin-top: 69px;
    }
}